body  { font: 12px verdana,arial,helvetica,sans-serif; color: #606060; text-align: left; background-color: #ffffff; }
img { border: 0px }
input[type=password], select, [type=text] { width: 150px; padding: 5px 12px; margin: 2px 4px; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; }
input[type=submit] { width: 80px; background-color: #000; color: white; padding: 5px 12px; margin-left: 6px; border: none; border-radius: 4px; cursor: pointer; }
input[type=submit]:hover { background-color: #45a049; }
td { font: 10px verdana,arial,helvetica,sans-serif; }
table { border-width: 0px; }
a { text-decoration: none; color: #606060 }
a:hover { color: #f0d020; text-decoration: underline; }
#main { width: 60%; background-color: #ffffff; text-align: center }
#meta { width: 100%; text-align: center; margin-top: 20px; }
#loginform { text-align: left; width: 200px; padding: 20px; display: none; }
#container { width: 100%; text-align: left; }
#filelist { text-align: left; float: left; }
#fileupload { display: none; width: 100%; float: left; margin-top: 50px; margin-bottom: 50px; border: 2px dashed #606060; text-align: center; }
#fileupload:hover { background-color: #f4f4f4; }
#loading { display: none }
.listentry { float: left; width: 100%; text-align: left; padding: 10px; background-color: #ffffff; width: 740px; }
.listentry:hover { background-color: #f4f4f4; }
.link { }
.link:hover { cursor: pointer; }
.padded { padding: 20px; vertical-align: middle; text-align: center; }
.infobox { clear: both; margin: 10px; }